

.block>h2{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 50px;
}

h2:hover{

    color: rebeccapurple;

}

.block>p{

    border:1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}


.block>ul{

    border:1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    
}

ul>li{

    border: 1px solid black;
    margin: 10px 15px;
    padding: 10px 15px;

}

.inline>h2{

    border: 1px solid red;
    margin: 20px 20px;
    padding: 20px 30px;
    display: inline-block;
    height: 100px;
    width: 500px;
    
}

.inline>h2:hover{

    color: red;
    background-color: antiquewhite;
   
}

.inline>p{

    border: 1px solid red;
    margin: 10px 10px;
    padding: 10px 20px;
    display: inline-block;
    height: 100px;
    width: 300px;
    background-color: antiquewhite;
 
}



.text{

   color: red;
}

.text:hover{

    color: blue;
}


.inline>p:hover{

    color: green;

    
}



.inline>ul{

    border: 1px solid red;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    height: 200px;
    width: 100px;
}

.inline>ul>li{

    border-radius: 5px;
    border-color: blue;
}
ul>.a:hover{

    background-color: aqua;
}

.b:hover{

    background-color: yellow;
}

li:nth-child(even){

    background-color: red;
}


/* Newly added div will go bellow */


.third{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: inline-block;
}

.img-1{

    /* border: 1px solid black; */
    margin: 10px 20px;
    padding: 10px 20px;
    height: 300px;
    width: 300px;
}

.img-2{

    /* border: 1px solid black; */
    margin: 10px 10px;
    padding: 10px 10px;
    height: 300px;
    width: 300px;
}

.img-3{

    /* border: 1px solid black; */
    margin: 10px 10px;
    padding: 10px 10px;
    height: 300px;
    width: 300px;
}


.fourth{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
}

.vehicl{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: inline-block;
    border-collapse: collapse;

}

.car-1>th{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    

}


.price{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: inline-block;
    border-collapse: collapse;

}

.fifth{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    /* border-collapse: collapse; */
    display: block;

}


.anc1{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: block;
    
    /* border-collapse: collapse; */
    /* border-collapse: collapse; */
    

}



.anc1:hover{

    background-color: aqua;

}


.anc2{

    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: block;
    
    
    /* border-collapse: collapse; */
    
    

}

.anc2:hover{

    color: red;
    background-color: yellow;
}


.anc3{

    
    border: 1px solid black;
    margin: 10px 20px;
    padding: 10px 20px;
    display: block;

}

.anc4:hover{

    color: red;
    background-color: yellowgreen;
}
